/* Global layout */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

/* Game area */
#gameArea {
  width: 600px;
  height: 100vh;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  position: relative;
  overflow: hidden;
  background-image: url('../img/universe-3030466_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Start button */
#startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#startButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Entities */
.player, .enemy, .boss {
  position: absolute;
}

.player {
  width: 40px;
  height: 30px;
  bottom: 10px;
  background-image: url('../img/rocket_01.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.enemy {
  width: 40px;
  height: 30px;
  background-image: url('../img/invader_b.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.bullet {
  width: 5px;
  height: 10px;
  position: absolute;
  background-color: #FF4500;
  box-shadow: 0 0 10px #FF4500, 0 0 20px #FF4500;
}

.enemy-bullet {
  width: 5px;
  height: 10px;
  position: absolute;
  background-color: #FFD400;
  box-shadow: 0 0 10px #FFD400, 0 0 20px #FFD400;
}

.explosion {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url('../img/410a4ec4982dc6a0.gif');
  background-size: cover;
  pointer-events: none;
}

#stats p {
  color: #FFF;
}

/* Boss: existing */
.boss {
  width: 58px;
  height: 91px;
  background-image: url('../img/トゥントゥントゥンサーフール.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.2s linear;
}

/* Boss: Bombardiro Crocodilo */
.boss-croc {
  width: 96px;
  height: 96px;
  background-image: url('../img/ボンバルディーロ・クロコディロ.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
